services:
  redis:
    #image: redis:6.2-bookworm
    image: redis:7.4-bookworm
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  redis_data:
